/* 
    Document   : style
    Created on : May 5, 2012, 9:54:34 PM
    Author     : Matthias
    Description:
        Purpose of the stylesheet follows.
*/
table tr td:last-child
{
	width:110px;
}